Title = dc.title
Approval date = dcterms.dateSubmitted
Registration date = dc.date.issued
Patent number = dc.identifier.patentno
Country = oairecerif.patent.country
Type = dc.type
Language = dc.language.iso
Inventor(s) = group.dc-contributor-author
Holder(s) = dcterms.rightsHolder
Keyword(s) = dc.subject
Funding(s) = dc.relation.funding
Project(s) = dc.relation.project
Predecessor(s) = dc.relation.patent
Abstract = dc.description.abstract
