#---------------------------------------------------------------#
#----------------- AUTHORITY CONFIGURATIONS --------------------#
#---------------------------------------------------------------#
# These configs are used by the authority framework             #
#---------------------------------------------------------------#

#####  Authority Control Settings  #####
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
 org.dspace.content.authority.ItemAuthority = AuthorAuthority,\
 org.dspace.content.authority.ItemAuthority = EditorAuthority,\
 org.dspace.content.authority.ItemAuthority = AdvisorAuthority,\
 org.dspace.content.authority.ItemAuthority = DataSetAuthority,\
 org.dspace.content.authority.ItemAuthority = JournalAuthority,\
 org.dspace.content.authority.ItemAuthority = OrgUnitAuthority,\
 org.dspace.content.authority.ItemAuthority = OwnerAuthority,\
 org.dspace.content.authority.ItemAuthority = ProjectAuthority,\
 org.dspace.content.authority.ItemAuthority = FundingAuthority,\
 org.dspace.content.authority.ItemAuthority = PublicationAuthority,\
 org.dspace.content.authority.ItemAuthority = EquipmentAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionAuthorAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionEditorAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionAdvisorAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionOrgUnitAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionOwnerAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionProjectAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionFundingAuthority,\
 org.dspace.content.authority.ItemAuthority = InstitutionPublicationAuthority,\
 org.dspace.content.authority.ItemAuthority = NotificationAuthority,\
 org.dspace.content.authority.ItemAuthority = CvPersonAuthority,\
 org.dspace.content.authority.EPersonAuthority = EPersonAuthority,\
 org.dspace.content.authority.GroupAuthority = GroupAuthority,\
 org.dspace.content.authority.CvPersonSecurityGroupAuthority = CvPersonSecurityGroupAuthority,\
 org.dspace.content.authority.DisabledAuthority = DisabledAuthority

### DisabledAuthority represents a ChoiceAuthority that overrides authority for a given form and field pair,
### wherever it is configured, it means that for this form and field choice is not configured and field should not
### be authority controlled.

cris.ItemAuthority.AuthorAuthority.relationshipType = Person
cris.ItemAuthority.EditorAuthority.relationshipType = Person
cris.ItemAuthority.AdvisorAuthority.relationshipType = Person
cris.ItemAuthority.OwnerAuthority.relationshipType = Person
cris.ItemAuthority.DataSetAuthority.relationshipType = Dataset
cris.ItemAuthority.JournalAuthority.relationshipType = Journal
cris.ItemAuthority.OrgUnitAuthority.relationshipType = OrgUnit
cris.ItemAuthority.ProjectAuthority.relationshipType = Project
cris.ItemAuthority.FundingAuthority.relationshipType = Funding
cris.ItemAuthority.PublicationAuthority.relationshipType = Publication
cris.ItemAuthority.EquipmentAuthority.relationshipType = Equipment
cris.ItemAuthority.InstitutionAuthorAuthority.relationshipType = InstitutionPerson
cris.ItemAuthority.InstitutionEditorAuthority.relationshipType = InstitutionPerson
cris.ItemAuthority.InstitutionAdvisorAuthority.relationshipType = InstitutionPerson
cris.ItemAuthority.InstitutionOwnerAuthority.relationshipType = InstitutionPerson
cris.ItemAuthority.InstitutionOrgUnitAuthority.relationshipType = InstitutionOrgUnit
cris.ItemAuthority.InstitutionProjectAuthority.relationshipType = InstitutionProject
cris.ItemAuthority.InstitutionFundingAuthority.relationshipType = InstitutionFunding
cris.ItemAuthority.InstitutionPublicationAuthority.relationshipType = InstitutionPublication
cris.ItemAuthority.InstitutionEquipmentAuthority.relationshipType = InstitutionEquipment
cris.ItemAuthority.NotificationAuthority.relationshipType = CvPerson
cris.ItemAuthority.CvPersonAuthority.relationshipType = CvPerson

choices.plugin.dc.contributor.author = AuthorAuthority
choices.presentation.dc.contributor.author = suggest
authority.controlled.dc.contributor.author = true

choices.plugin.oairecerif.author.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.author.affiliation = suggest
authority.controlled.oairecerif.author.affiliation = true

choices.plugin.dc.contributor.editor = EditorAuthority
choices.presentation.dc.contributor.editor = suggest
authority.controlled.dc.contributor.editor = true

choices.plugin.dc.contributor.advisor = AdvisorAuthority
choices.presentation.dc.contributor.advisor = suggest
authority.controlled.dc.contributor.advisor = true

choices.plugin.oairecerif.editor.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.editor.affiliation = suggest
authority.controlled.oairecerif.editor.affiliation = true

choices.plugin.dc.relation.dataset = DataSetAuthority
choices.presentation.dc.relation.dataset = suggest
authority.controlled.dc.relation.dataset = true

choices.plugin.dc.relation.journal = JournalAuthority
choices.presentation.dc.relation.journal = suggest
authority.controlled.dc.relation.journal = true

choices.plugin.dc.relation.project = ProjectAuthority
choices.presentation.dc.relation.project = suggest
authority.controlled.dc.relation.project = true

choices.plugin.dc.relation.funding = FundingAuthority
choices.presentation.dc.relation.funding = suggest
authority.controlled.dc.relation.funding = true

choices.plugin.dc.description.sponsorship = OrgUnitAuthority
choices.presentation.dc.description.sponsorship = suggest
authority.controlled.dc.description.sponsorship = true

choices.plugin.perucris.notification.to = NotificationAuthority
choices.presentation.perucris.notification.to = suggest
authority.controlled.perucris.notification.to = true

### custom authorities overrides by form name
choices.plugin.institution-publication-dc-contributor-author.override.dc.contributor.author = InstitutionAuthorAuthority
choices.plugin.institution-publication-dc-contributor-author.override.oairecerif.author.affiliation = InstitutionOrgUnitAuthority
choices.plugin.institution-publication-dc-contributor-editor.override.dc.contributor.editor = InstitutionEditorAuthority
choices.plugin.institution-publication-dc-contributor-editor.override.oairecerif.editor.affiliation = InstitutionOrgUnitAuthority
choices.plugin.institution-publication_thesis-dc-contributor-advisor.override.dc.contributor.advisor = InstitutionAdvisorAuthority
choices.plugin.institution-publication_references-dc-relation-project.override.dc.relation.project = InstitutionProjectAuthority
choices.plugin.institution-publication_references-dc-relation-project.override.dc.relation.funding = InstitutionFundingAuthority
choices.plugin.institution-publication_bibliographic_details.override.dc.description.sponsorship = InstitutionOrgUnitAuthority

choices.plugin.institution-publication.override.dc.contributor.author = InstitutionAuthorAuthority
choices.plugin.institution-publication.override.dc.contributor.editor = InstitutionEditorAuthority
choices.plugin.institution-publication.override.dc.contributor.advisor = InstitutionAdvisorAuthority
choices.plugin.institution-publication_references.override.dc.relation.project = InstitutionProjectAuthority

choices.plugin.institution-patent-dc-contributor-author.override.dc.contributor.author = InstitutionAuthorAuthority
choices.plugin.institution-patent-dc-contributor-author.override.oairecerif.author.affiliation = InstitutionOrgUnitAuthority
choices.plugin.institution-patent.override.dc.contributor.author = InstitutionAuthorAuthority

choices.plugin.cv-person.override.cris.policy.group = CvPersonSecurityGroupAuthority

### authorities required by Projects
choices.plugin.crispj.coordinator = OrgUnitAuthority
choices.presentation.crispj.coordinator = suggest
authority.controlled.crispj.coordinator = true

choices.plugin.crispj.organization = OrgUnitAuthority
choices.presentation.crispj.organization = suggest
authority.controlled.crispj.organization = true

choices.plugin.crispj.partnerou = OrgUnitAuthority
choices.presentation.crispj.partnerou = suggest
authority.controlled.crispj.partnerou = true

choices.plugin.crispj.investigator = AuthorAuthority
choices.presentation.crispj.investigator = suggest
authority.controlled.crispj.investigator = true

choices.plugin.crispj.coinvestigators = AuthorAuthority
choices.presentation.crispj.coinvestigators = suggest
authority.controlled.crispj.coinvestigators = true

choices.plugin.dc.relation.equipment = EquipmentAuthority
choices.presentation.dc.relation.equipment = suggest
authority.controlled.dc.relation.equipment = true

### custom authorities required by Project overrides by form name

choices.plugin.institution-project.override.crispj.coordinator = InstitutionOrgUnitAuthority
choices.plugin.institution-project.override.crispj.organization = InstitutionOrgUnitAuthority
choices.plugin.institution-project.override.crispj.partnerou = InstitutionOrgUnitAuthority
choices.plugin.institution-project.override.crispj.investigator = InstitutionAuthorAuthority
choices.plugin.institution-project.override.crispj.coinvestigators = InstitutionAuthorAuthority
choices.plugin.institution-project.override.dc.relation.equipment = InstitutionEquipmentAuthority

### authorities required by Person
choices.plugin.person.affiliation.name = OrgUnitAuthority
choices.presentation.person.affiliation.name = suggest
authority.controlled.person.affiliation.name = true

choices.plugin.oairecerif.person.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.person.affiliation = suggest
authority.controlled.oairecerif.person.affiliation = true

### custom authorities required by Person overrides by form name

choices.plugin.institution-person.override.person.affiliation.name = InstitutionOrgUnitAuthority
choices.plugin.institution-person.override.oairecerif.person.affiliation = InstitutionOrgUnitAuthority
choices.plugin.institution-person-oairecerif-person-affiliation.override.oairecerif.person.affiliation = InstitutionOrgUnitAuthority

#choices.plugin.crisrp.workgroup = OrgUnitAuthority
#choices.presentation.crisrp.workgroup = suggest
#authority.controlled.crisrp.workgroup = true

#choices.plugin.crisrp.qualification = OrgUnitAuthority
#choices.presentation.crisrp.qualification = suggest
#authority.controlled.crisrp.qualification = true

#choices.plugin.crisrp.education = OrgUnitAuthority
#choices.presentation.crisrp.education = suggest
#authority.controlled.crisrp.education = true

### authorities required by OrgUnit
choices.plugin.organization.parentOrganization = OrgUnitAuthority
choices.presentation.organization.parentOrganization = suggest
authority.controlled.organization.parentOrganization = true

### custom authorities required by OrgUnit overrides by form name

choices.plugin.institution-orgunit.override.organization.parentOrganization = InstitutionOrgUnitAuthority

### authorities required by Funding
choices.plugin.oairecerif.funder = OrgUnitAuthority
choices.presentation.oairecerif.funder = suggest
authority.controlled.oairecerif.funder = true

choices.plugin.oairecerif.fundingProgram = FundingAuthority
choices.presentation.oairecerif.fundingParent = suggest
authority.controlled.oairecerif.fundingParent = true

choices.plugin.oairecerif.fundingParent = FundingAuthority
choices.presentation.oairecerif.fundingParent = suggest
authority.controlled.oairecerif.fundingParent = true

### custom authorities required by Funding overrides by form name

choices.plugin.institution-funding.override.oairecerif.funder = InstitutionOrgUnitAuthority
choices.plugin.institution-funding.override.oairecerif.fundingParent = InstitutionFundingAuthority
choices.plugin.institution-funding.override.oairecerif.fundingProgram = InstitutionFundingAuthority

### authorities required by Equipment
choices.plugin.crisequipment.ownerou = OrgUnitAuthority
choices.presentation.crisequipment.ownerou = suggest
authority.controlled.crisequipment.ownerou = true

choices.plugin.crisequipment.ownerrp = OwnerAuthority
choices.presentation.crisequipment.ownerrp = suggest
authority.controlled.crisequipment.ownerrp = true

### custom authorities required by Funding overrides by form name

choices.plugin.institution-equipment.override.crisequipment.ownerou = InstitutionOrgUnitAuthority
choices.plugin.institution-equipment.override.crisequipment.ownerrp = InstitutionOwnerAuthority

### authorities required by cris features
choices.plugin.cris.policy.eperson = EPersonAuthority
choices.presentation.cris.policy.eperson = suggest
authority.controlled.cris.policy.eperson = true

choices.plugin.cris.policy.group = GroupAuthority
choices.presentation.cris.policy.group = suggest
authority.controlled.cris.policy.group = true

choices.plugin.cris.owner = EPersonAuthority
choices.presentation.cris.owner = suggest
authority.controlled.cris.owner = true

choices.plugin.perucris.eperson.role = GroupAuthority
choices.presentation.perucris.eperson.role = suggest
authority.controlled.perucris.eperson.role = true

choices.plugin.perucris.eperson.institutional-role = GroupAuthority
choices.presentation.perucris.eperson.institutional-role = suggest
authority.controlled.perucris.eperson.institutional-role = true

choices.plugin.perucris.eperson.institutional-scoped-role = GroupAuthority
choices.presentation.perucris.eperson.institutional-scoped-role = suggest
authority.controlled.perucris.eperson.institutional-scoped-role = true

choices.plugin.perucris.community.institutional-scoped-role = GroupAuthority
choices.presentation.perucris.community.institutional-scoped-role = suggest
authority.controlled.perucris.community.institutional-scoped-role = true

choices.plugin.perucris.ctivitae.owner = CvPersonAuthority
choices.presentation.perucris.ctivitae.owner = suggest
authority.controlled.perucris.ctivitae.owner = true
