#---------------------------------------------------------------#
#--------------------CRIS CONFIGURATIONS------------------------#
#---------------------------------------------------------------#
# These configs are used by the CRIS extended functionalities   #
#---------------------------------------------------------------#
# which entity-types are enforce in the system
cris.entity-type = Person
cris.entity-type = Project
cris.entity-type = Funding
cris.entity-type = OrgUnit
cris.entity-type = Journal
cris.entity-type = Publication
cris.entity-type = Dataset
cris.entity-type = Patent
cris.entity-type = Event
cris.entity-type = Equipment
cris.entity-type = CvPerson
cris.entity-type = CvPersonClone
cris.entity-type = InstitutionEquipment
cris.entity-type = InstitutionFunding
cris.entity-type = InstitutionOrgUnit
cris.entity-type = InstitutionPatent
cris.entity-type = InstitutionPerson
cris.entity-type = InstitutionProject
cris.entity-type = InstitutionPublication
cris.entity-type = Notification

########### CRIS Consumer configuration ###############
cris-consumer.skip-empty-authority = false